.Movies {  
  margin: 30px;
}

.Movie{
  text-align: left;
  margin: 15px;
  background-color: lightgrey;
  padding: 20px;
  border: 2px solid black;
  border-radius: 5px;
}

h4 {
  color: darkorange;
}

h2 {
  font-weight: bold;
}
